<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="key_parameterizedQueryBuilder_dbConnectionName" value="SwissRe.DataAccess.Properties.Settings.CorSoBrConnection" />
    </appSettings>
    <connectionStrings>
      <add name="SwissRe.DataAccess.Properties.Settings.CorSoBrConnection" providerName="System.Data.SqlClient" connectionString="Data Source=CHRV4716\DIN4716;Initial Catalog=TKGS_Corp;Persist Security Info=True;User ID=BRSEG_DBO_TRX;Password=GwefiuRiojDzhr6z4ghe46z46dsgetG6" />
    </connectionStrings>
  </configuration>